@import 'variables';

.header {
    height: $header-height;
    background: $cwt-theme-color;

    .header-pane {
        width: 100%;
        box-sizing: content-box;
    }
}

.btn-custom{
    background-color: #005173;
}

.text-align-center {
    text-align: center;
}