.custom-logout {
    float: right;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    color: #fff !important;
    cursor: pointer;
}

.heading {
    float: right;
    padding-top: 15px;
    color: #fff;
}